RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^([^\.]+)$ $1.php [Nc,L]
RewriteRule ^([^\.]+)$ $1.html [Nc,L]
RewriteRule ^([^\.]+)$ $1.js [Nc,L]
RewriteRule ^([^\.]+)$ $1.css [Nc,L]
ErrorDocument 400 /health_checkup/404/error.php
ErrorDocument 401 /health_checkup/404/error.php
ErrorDocument 403 /health_checkup/404/error.php
ErrorDocument 404 /health_checkup/404/error.php
ErrorDocument 500 /health_checkup/404/error.php
ErrorDocument 502 /health_checkup/404/error.php
#ErrorDocument 400 http://localhost/health_checkup/404/404
#ErrorDocument 401 http://localhost/health_checkup/404/404
#ErrorDocument 403 http://localhost/health_checkup/404/404
#ErrorDocument 404 http://localhost/health_checkup/404/404
#ErrorDocument 500 http://localhost/health_checkup/404/404
#ErrorDocument 502 http://localhost/health_checkup/404/404


RewriteRule ^/?$ index.php
RewriteRule ^index?$ index.php
RewriteRule ^User/Main?$ User/Main.php
RewriteRule ^User/Register/register?$ User/Register/register.php
RewriteRule ^User/Company/Company?$ User/Company/Company.php
RewriteRule ^User/Package/Package?$ User/Package/Package.php
RewriteRule ^User/Employee/Employee?$ User/Employee/Employee.php
RewriteRule ^User/Employee/Barcodes?$ User/Employee/barcode.php
RewriteRule ^User/Employee/exportemployee?$ User/Employee/export_excel.php
RewriteRule ^User/Register/printbarcode?$ User/Register/barcode_print.php
RewriteRule ^User/Register/barcode?$ User/Register/barcode.php
RewriteRule ^User/Status/status?$ User/Status/status.php
RewriteRule ^User/Checkup/Physical?$ User/Checkup/physical.php
RewriteRule ^User/Checkup/Cbc?$ User/Checkup/cbc.php
RewriteRule ^User/Checkup/Biochemistry?$ User/Checkup/bio.php
RewriteRule ^User/Checkup/CXR?$ User/Checkup/cxr.php 
RewriteRule ^User/Checkup/Urine?$ User/Checkup/urine.php
RewriteRule ^User/Checkup/Methamphetamine?$ User/Checkup/meth.php
RewriteRule ^User/Checkup/Thryroid?$ User/Checkup/thry.php
RewriteRule ^User/Checkup/Stool?$ User/Checkup/se.php
RewriteRule ^User/Checkup/Heavy?$ User/Checkup/metal.php
RewriteRule ^User/Checkup/Tumor?$ User/Checkup/tumor.php
RewriteRule ^User/Checkup/Vision?$ User/Checkup/oc_vision.php
RewriteRule ^User/Checkup/Audio?$ User/Checkup/audio.php
RewriteRule ^User/Checkup/Spiro?$ User/Checkup/spiro.php
RewriteRule ^User/Checkup/x-ray?$ User/Checkup/x_ray.php
RewriteRule ^User/Checkup/Immunity?$ User/Checkup/cxr.php
RewriteRule ^User/Checkup/Ekg?$ User/Checkup/ekg.php
RewriteRule ^User/Checkup/Muscle?$ User/Checkup/muscle.php

RewriteRule ^User/Certificate/English?$ User/Certificate/eng.php
RewriteRule ^User/Certificate/Lao?$ User/Certificate/lao.php
RewriteRule ^User/Certificate/PrintEnglish?$ User/Certificate/printeng.php
RewriteRule ^User/Certificate/PrintLao?$ User/Certificate/printlao.php

RewriteRule ^User/book/Book?$ User/book/booktest.php
RewriteRule ^User/book/PrintBook?$ User/book/printtest.php



RewriteRule ^404/404?$ 404/404.php

RewriteRule ^Admin/Main?$ Admin/Main.php
RewriteRule ^Admin/Username/Username?$ Admin/Username/username.php


RewriteRule ^Admin/Certificate/English?$ Admin/Certificate/eng.php
RewriteRule ^Admin/Certificate/Lao?$ Admin/Certificate/lao.php
RewriteRule ^Admin/Certificate/PrintEnglish?$ Admin/Certificate/printeng.php
RewriteRule ^Admin/Certificate/PrintLao?$ Admin/Certificate/printlao.php

RewriteRule ^Admin/Book/Book?$ Admin/Book/book.php
RewriteRule ^Admin/Book/PrintBook?$ Admin/Book/print.php

