RewriteEngine On

RewriteRule ^/?$ index.php
RewriteRule ^index?$ index.php
RewriteRule ^User/Main?$ User/Main.php
RewriteRule ^User/Register/register?$ User/Register/register.php
RewriteRule ^User/Company/Company?$ User/Company/Company.php
RewriteRule ^User/Package/Package?$ User/Package/Package.php
RewriteRule ^User/Employee/Employee?$ User/Employee/Employee.php
RewriteRule ^User/Employee/Barcodes?$ User/Employee/barcode.php
RewriteRule ^User/Employee/exportemployee?$ User/Employee/export_excel.php
RewriteRule ^User/Register/printbarcode?$ User/Register/barcode_print.php
RewriteRule ^User/Register/barcode?$ User/Register/barcode.php
RewriteRule ^User/Status/status?$ User/Status/status.php
RewriteRule ^User/Checkup/Physical?$ User/Checkup/physical.php
RewriteRule ^User/Checkup/Cbc?$ User/Checkup/cbc.php
RewriteRule ^User/Checkup/Biochemistry?$ User/Checkup/bio.php
RewriteRule ^User/Checkup/CXR?$ User/Checkup/cxr.php 
RewriteRule ^User/Checkup/Urine?$ User/Checkup/urine.php
RewriteRule ^User/Checkup/Methamphetamine?$ User/Checkup/meth.php
RewriteRule ^User/Checkup/Thryroid?$ User/Checkup/thry.php
RewriteRule ^User/Checkup/Stool?$ User/Checkup/se.php
RewriteRule ^User/Checkup/Heavy?$ User/Checkup/metal.php
RewriteRule ^User/Checkup/Tumor?$ User/Checkup/tumor.php
RewriteRule ^User/Checkup/Vision?$ User/Checkup/oc_vision.php
RewriteRule ^User/Checkup/Audio?$ User/Checkup/audio.php
RewriteRule ^User/Checkup/Spiro?$ User/Checkup/spiro.php
RewriteRule ^User/Checkup/x-ray?$ User/Checkup/x_ray.php
RewriteRule ^User/Checkup/Immunity?$ User/Checkup/cxr.php

RewriteRule ^User/Certificate/English?$ User/Certificate/eng.php
RewriteRule ^User/Certificate/Lao?$ User/Certificate/lao.php
RewriteRule ^User/Certificate/PrintEnglish?$ User/Certificate/printeng.php
RewriteRule ^User/Certificate/PrintLao?$ User/Certificate/printlao.php